{% extends 'base.html.twig' %}
{% block title %}Mon Stand Producteur{% endblock %}
{% block body %}
<div class="row navbar-producteurs">
    <div class="span4 offset3" style="color:#fff">
        OUIEATFRENCH
    </div>
    <ul class="offset8">
    {% if farmer is defined and farmer.id is defined %}
        <li>
            <a href="{{ path('oui_eat_french_farmer_availability_index') }}">MES DISPONIBILITÉS</a>
        </li>
        <li>
            <a href="{{ path('oui_eat_french_farmer_command_index') }}">MES COMMANDES</a>
        </li>
        <li>
            <a href="{{ path('oui_eat_french_farmer_product_index') }}">MON CATALOGUE</a>
        </li>
        <li>
            <a href="{{ path('oui_eat_french_farmer_stock_index') }}">MON STOCK</a>
        </li>
        <li>
            <a href="{{ path('oui_eat_french_farmer_user_show') }}">MON PROFIL</a>
        </li>
        <li>
            <a href="{{ path('oui_eat_french_farmer_user_logout') }}">DECONNEXION</a>
        </li>
    {% endif %}
    </ul>
</div>
    {% block page_title %}
    {% endblock %}
    {% block content %}
    {% endblock %}
<div class="row" style="background-color: #fff">
    <div class="bottom-link offset5">
      <a href="">CGV</a> |
      <a href="">Foire aux questions</a> |
      <a href="">La politique de confidentialité</a> |
      <a href="">Qui sommes-nous ?</a> |
      <a href="">Comment ça marche ?</a>
    </div>
</div>
{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}