{% extends 'base.html.twig' %}
{% block title %}Mon Stand Producteur{% endblock %}
{% block body %}
<div class="row navbar-producteurs">
    <div class="span2 offset5" style="color:#fff;margin-left: 500px;">
        <a href="{{ path('oui_eat_french_farmer_user_index') }}">
            <img src="{{ asset('ouieatfrench/farmer/img/oef-professionnels.png')}}">
        </a>
    </div>
    <ul class="offset1">
        <li class="{% if app.request.attributes.get('_route') == 'oui_eat_french_farmer_user_index' %}active{% endif %}" style="margin-left: 30px;">
            <a href="{{ path('oui_eat_french_farmer_user_index') }}">
                <img style="height:15px;position: relative;bottom:3px;" src="{{ asset('ouieatfrench/farmer/img/maison.png')}}">
            </a>
            {% if app.request.attributes.get('_route') == 'oui_eat_french_farmer_user_index' %}
                <div class="arrow-up"></div>
            {% endif %}
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'oui_eat_french_farmer_availability_index' %}active{% endif %}">
            <a href="{{ path('oui_eat_french_farmer_availability_index', { 'farmerId': app.user.id}) }}">DISPONIBILITÉS</a>
            {% if app.request.attributes.get('_route') == 'oui_eat_french_farmer_availability_index' %}
                <div class="arrow-up" style="left: 40px;"></div>
            {% endif %}
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'oui_eat_french_farmer_command_index' %}active{% endif %}">
            <a href="{{ path('oui_eat_french_farmer_command_index') }}">COMMANDES</a>
            {% if app.request.attributes.get('_route') == 'oui_eat_french_farmer_command_index' %}
                <div class="arrow-up"  style="left: 40px;"></div>
            {% endif %}
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'oui_eat_french_farmer_product_index' %}active{% endif %}">
            <a href="{{ path('oui_eat_french_farmer_product_index') }}">CATALOGUE</a>
            {% if app.request.attributes.get('_route') == 'oui_eat_french_farmer_product_index' %}
                <div class="arrow-up"  style="left: 30px;"></div>
            {% endif %}
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'oui_eat_french_farmer_stock_index' %}active{% endif %}">
            <a href="{{ path('oui_eat_french_farmer_stock_index') }}">STOCK</a>
            {% if app.request.attributes.get('_route') == 'oui_eat_french_farmer_stock_index' %}
                <div class="arrow-up"  style="left: 15px;"></div>
            {% endif %}
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'oui_eat_french_farmer_user_show' %}active{% endif %}">
            <a href="{{ path('oui_eat_french_farmer_user_show') }}">PROFIL</a>
            {% if app.request.attributes.get('_route') == 'oui_eat_french_farmer_user_show' %}
                <div class="arrow-up"  style="left: 15px;"></div>
            {% endif %}
        </li>
        <li>
            <a href="{{ path('oui_eat_french_farmer_user_logout') }}">DECONNEXION</a>
        </li>
    </ul>
</div>
    {% block page_title %}
    {% endblock %}
    <div class="body-container">
        {% block content %}
        {% endblock %}
    </div>
<div class="row" style="background-color: #fff; text-align:center">
    <div class="bottom-link">
      <a href="">CGV</a> |
      <a href="">Foire aux questions</a> |
      <a href="">La politique de confidentialité</a> |
      <a href="">Qui sommes-nous ?</a> |
      <a href="">Comment ça marche ?</a>
    </div>
    <div class="bottom-img">
        <img src="{{ asset('ouieatfrench/farmer/img/login-logo-footer.png')}}">
    </div>
</div>
{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}