{% extends 'base.html.twig' %}
{% block title %}Mon Stand Producteur{% endblock %}
{% block body %}
<div class="row navbar-producteurs">
    <div class="span2 offset5" style="color:#fff">
        <a href="{{ path('oui_eat_french_farmer_user_index') }}">
            <img src="{{ asset('ouieatfrench/farmer/img/admin-logo.png')}}">
        </a>
    </div>
    <ul class="offset8">
        <li>
            <a href="{{ path('oui_eat_french_farmer_availability_index', { 'farmerId': farmer.id}) }}">MES DISPONIBILITÉS</a>
        </li>
        <li>
            <a href="{{ path('oui_eat_french_farmer_command_index') }}">MES COMMANDES</a>
        </li>
        <li>
            <a href="{{ path('oui_eat_french_farmer_product_index') }}">MON CATALOGUE</a>
        </li>
        <li>
            <a href="{{ path('oui_eat_french_farmer_stock_index') }}">MON STOCK</a>
        </li>
        <li>
            <a href="{{ path('oui_eat_french_farmer_user_show') }}">MON PROFIL</a>
        </li>
{#         <li>
            <a href="{{ path('oui_eat_french_farmer_user_logout') }}">DECONNEXION</a>
        </li> #}
    </ul>
</div>
    {% block page_title %}
    {% endblock %}
    <div class="body-container">
        {% block content %}
        {% endblock %}
    </div>
<div class="row" style="background-color: #fff; text-align:center">
    <div class="bottom-link">
      <a href="">CGV</a> |
      <a href="">Foire aux questions</a> |
      <a href="">La politique de confidentialité</a> |
      <a href="">Qui sommes-nous ?</a> |
      <a href="">Comment ça marche ?</a>
    </div>
    <div class="bottom-img">
        <img src="{{ asset('ouieatfrench/farmer/img/login-logo-footer.png')}}">
    </div>
</div>
{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}