<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
Filtres pour les agriculteurs: <br><br>

<form>
    Sous catégorie !<br>
    <select id="product">
        <option value="all">Tous</option>
        {% for product in productAndParentProduct %}
            <option value="{{ product.name }}">{{ product.name|capitalize }}</option>
        {% endfor %}
    </select><br>
</form>

Liste des agriculteurs correspondant a votre produit : <br><br>
{% if farmers is not null %}
    <table id="farmerTable">
        {% for farmer in farmers %}
            {% if farmer.firstname is defined %}
                {% for farmerProduct in farmer.farmerProducts %}
                    {% if farmerProduct.product is not null %}
                        {% if farmerProduct.product.id == product_id or (farmerProduct.product.parentProduct is not null and farmerProduct.product.parentProduct.id == product_id) %}
                            <tr class="{{ farmerProduct.id }}-{{ farmerProduct.product.id }}">
                                <td>
                                    Agriculteur : {{ farmer.firstname }}
                                </td>
                                <td>
                                    <img style="width: 150px; height: 150px;" src="{{ asset("OEF/img_admin_product/" ~ farmerProduct.product.imageName) }}" alt="{{ farmerProduct.product.imageName }}">
                                </td>
                                <td>
                                    Produit : {{ farmerProduct.product.name }}<br>
                                    Type : {{ farmerProduct.unitType }}<br>
                                    Prix : {{ farmerProduct.unitPrice }}<br>
                                    Quantity : {{ farmerProduct.unitQuantity }}<br>
                                    Minimum pour vente : {{ farmerProduct.unitMinimum }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            Aucun agriculteurs en vend se produit
        {% endfor %}
    </table><br>
{% endif %}

<script type="text/javascript">
    $(function () {
        jQuery(document).ready(function() {

            $("#product").change(function(){
                refresh();
            });

            function refresh(){
                $.ajax({
                    url: '{{ path('oui_eat_french_public_product_ajax_farmer') }}',
                    type: 'POST',
                    data:
                    {
                        product : $("#product").val()
                    },
                    dataType: 'json',
                    success: function(response)
                    {
                        console.log(response);

                        $('#farmerTable tr').each(function()
                        {
                            var id = $(this).attr('class');
                            if(response.indexOf(parseInt(id)) > -1)
                            {$(this).show();}
                            else
                            {$(this).hide();}
                        });
                    }
                });
                return false;
            };
        });
    });
</script>
