{% extends 'OuiEatFrenchPublicBundle::layout.html.twig' %}
{% block title %}OuiEatFrench{% endblock %}
{% block content %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-error">{{ flashMessage }}</div>
{% endfor %}

<div id="produit"></div>
{% set filter = app.session.get('filters') %}
<form action="{{ path('oui_eat_french_public_product_index') }}" method="POST" id="name">
    Produits !<br>
    <select id="nametxt" name="name">
        <option value="all">Tous</option>
        {% for product in productsSelect %}
            <option value="{{ product.name }}" {% if filter is not null and filter['name'] == product.name %}selected{% endif %}>{{ product.name|capitalize }}</option>
        {% endfor %}
    </select><br>
    Saisons !<br>
    <select id="saisontxt" name="season">
        <option value="all">Tous</option>
        {% for season in seasons %}
            <option value="{{ season.name }}" {% if filter is not null and filter['season'] == season.name %}selected{% endif %}>{{ season.name|capitalize }}</option>
        {% endfor %}
    </select><br>
    Calories !<br>
    <input type="number" id="caloriesint"  value="{% if filter is not null %}{{ filter['calories'] }}{% else %}0{% endif %}" name="calories"><br>
    Categorie !<br>
    <select id="categorytxt" name="category">
        <option value="all">Tous</option>
        {% for categorie in categories %}
            {{ categorie.name|capitalize }}
            <option value="{{ categorie.name }}" {% if filter is not null and filter['category'] == categorie.name %}selected{% endif %}>{{ categorie.name|capitalize }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Valider">
</form>
Pages :
    {% if pagesNumber != 0 %}
        {% if page > 1 %}
            <a href="{{ path('oui_eat_french_public_product_index', {'page' : page-1}) }}" ><</a>&nbsp;
        {% endif %}
        {% for i in 1..pagesNumber %}<a href="{{ path('oui_eat_french_public_product_index', {'page' : i}) }}" {% if i == page %}style='color:red'{% endif %}>{{ i }}</a>&nbsp;{% endfor %}
        {% if page != pagesNumber %}
            &nbsp;<a href="{{ path('oui_eat_french_public_product_index', {'page' : page+1}) }}" >></a>
        {% endif %}
    {% else %}
        Aucuns produit ne correspond aux demandes
    {% endif %}
<div id="result"></div>
<table id="table">
    {% for product in products %}
        <tr style="border-style: solid;" id="{{ product.id }}">
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.calories }}</td>
            <td>
                <a href="{{ path('oui_eat_french_public_product_farmer_index', { 'productId' : product.id }) }}">
                    <img style="width: 150px; height: 150px;" src="{{ asset("OEF/img_admin_product/" ~ product.imageName) }}" alt="{{ product.imageName }}">
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(function () {
    jQuery(document).ready(function() {
      /*
        $("#nametxt").change(function(){
            refresh();
        });

        $("#saisontxt").change(function(){
            refresh();
        });

        $("#caloriesint").bind('keyup mouseup', function(){
            refresh();
        });

        $("#categorytxt").change(function(){
            refresh();
        });

        function refresh(){
                $.ajax({
                    url: '{{ path('oui_eat_french_public_product_ajax') }}',
                    type: 'POST',
                    data:
                    {
                        name : $("#nametxt").val(),
                        season : $("#saisontxt").val(),
                        calories : $("#caloriesint").val(),
                        category : $("#categorytxt").val()
                    },
                    dataType: 'json',
                    success: function(response)
                    {
                        $('#table tr').each(function()
                        {
                            var id = $(this).attr('id');

                            if(response.indexOf('-'+id+'-') > -1)
                            {
                                $(this).show();
                            }
                            else
                            {$(this).hide();}
                        });
                    }
                });
            return false;
        };*/
    });
});
</script>
{% endblock %}