<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div id="produit"></div>
<form id="name">
    Produits !<br>
    <select id="nametxt">
        <option value="all">Tous</option>
        {% for product in products %}
            <option value="{{ product.name }}">{{ product.name|capitalize }}</option>
        {% endfor %}
    </select><br>
    Saisons !<br>
    <select id="saisontxt">
        <option value="all">Tous</option>
        <option value="ete">été</option>
        <option value="automne">Automne</option>
        <option value="hiver">Hiver</option>
        <option value="printemps">Printemps</option>
    </select><br>
    Calories !<br>
    <input type="number" id="caloriesint" value="0"><br>
    Categorie !<br>
    <select id="categorytxt">
        <option value="all">Tous</option>
        <option value="Fruit">Fruit</option>
        <option value="Legume">Legume</option>
        <option value="Autres">Autres</option>
    </select><br>
</form>
<div id="result"></div>
<table id="table">
    {% for product in products %}
        <tr id="{{ product.id }}">
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.calories }}</td>
            <td><img style="width: 150px; height: 150px;" src="{{ asset("OEF/img_admin_product/" ~ product.imageName) }}" alt="{{ product.imageName }}"></td>
        </tr>
    {% endfor %}
</table>
{{ dump(path('oui_eat_french_public_product_ajax')) }}
<script type="text/javascript">
$(function () {
    jQuery(document).ready(function() {

        $("#nametxt").change(function(){
            refresh();
        });

        $("#saisontxt").change(function(){
            refresh();
        });

        $("#caloriesint").bind('keyup mouseup', function(){
            refresh();
        });

        $("#categorytxt").change(function(){
            refresh();
        });

        function refresh(){
                $.ajax({
                    url: 'http://localhost/Projet_SUP/OuiEatFrench/web/app_dev.php/produits/ajax',
                    type: 'POST',
                    data:
                    {
                        name : $("#nametxt").val(),
                        season : $("#saisontxt").val(),
                        calories : $("#caloriesint").val(),
                        category : $("#categorytxt").val()
                    },
                    dataType: 'json',
                    success: function(response)
                    {
                        $('#table tr').each(function()
                        {
                            var id = $(this).attr('id');
                            if(response.indexOf(parseInt(id)) > -1)
                            {$(this).show();}
                            else
                            {$(this).hide();}
                        });
                    }
                });
            return false;
        };
    });
});
</script>
