{% extends 'OuiEatFrenchPublicBundle::layout.html.twig' %}
{% block title %}OuiEatFrench | Produits{% endblock %}
{% block content %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-error">{{ flashMessage }}</div>
{% endfor %}
<div id="wrapper">
    <div class="row">
        <div class="title-product-client">
            FRUITS ET L&Eacute;GUMES &Agrave; GOGO !
        </div>
    </div>
    <div class="row">
        <form action="{{ path('oui_eat_french_public_product_index') }}" method="POST" id="name">
        {% set filter = app.session.get('filters') %}
        <div class="span2 filter-product">
            <div class="row" id="title-filter-product">
                VITE, JE FILTRE
            </div>
            <div class="row" id="filter-type">
                <div>
                    <span>
                        <input id="tous-filter" type="radio" name="category" value="all" {% if filter is not null and filter['category'] == "all" %}checked="checked"{% endif %}>
                    </span>
                    <span>
                        <label for="tous-filter">Tous</label>
                    </span>
                    
                </div>
                {% for categorie in categories %}
                    <div>
                        <span>
                            <input id="{{ categorie.name }}-filter" type="radio" name="category" value="{{ categorie.name }}" {% if filter is not null and filter['category'] == categorie.name %}checked="checked"{% endif %}>
                        </span>
                        <span>
                            <label for="{{ categorie.name }}-filter">{{ categorie.name|capitalize }}</label>
                        </span>
                    </div>
                {% endfor %}
            </div>
            <div class="row" id="title-filter-aliments">
                PAR ALIMENT
            </div>
            <div class="row" id="filter-aliments">
                <select id="nametxt" name="name">
                    <option value="all">Tous</option>
                    {% for product in productsSelect %}
                        <option value="{{ product.name }}" {% if filter is not null and filter['name'] == product.name %}selected{% endif %}>{{ product.name|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row" id="title-filter-saison">
                PAR SAISON
            </div>
            <div class="row" id="filter-saison">
                <div>
                    <span>
                        <input id="tous-filter-season" type="radio" name="season" value="all" {% if filter is not null and filter['season'] == "all" %}checked="checked"{% endif %}>
                    </span>
                    <span>
                        <label for="tous-filter-season">Tous</label>
                    </span>
                    
                </div>
                {% for season in seasons %}
                    <div>
                        <span>
                            <input id="{{ season.name }}-filter" type="radio" name="season" value="{{ season.name }}" {% if filter is not null and filter['season'] == season.name %}checked="checked"{% endif %}>
                        </span>
                        <span>
                            <label for="{{ season.name }}-filter">{{ season.name|capitalize }}</label>
                        </span>
                    </div>
                {% endfor %}
            </div>
            <div class="row" id="title-filter-calories">
                PAR CALORIES (100G)
            </div>
            <div class="row" id="filter-calories">
                <input type="hidden" value="{% if filter is not null %}{{filter['calories']}}{% else %}200{% endif %}" id="val-calories" name="calories">
                <div style="margin-bottom: 10px;">
                    <span>0 kcal</span>
                    <span style="margin-left: 45px;">200 kcal</span>
                </div>
                <div id="slider-range-min">
                </div>
                <div id="amount">
                    {% if filter is not null %}{% set slyder = filter['calories']/2 %}{% else %}{% set slyder = 100 %}{% endif %}
                    {{ slyder }}
                </div>
            </div>
            <div class="row" id="button-validate-form">
                <button type="submit" id="validate-filter" form="name">Valider</button>
            </div>
        </div>
        </form>
        <div class="span9" id="result-product" style="width:950px;margin-top: -20px">
            {% for product in products %}
                <a href="{{ path('oui_eat_french_public_product_farmer_index', { 'productId' : product.id }) }}">
                    <div class="product-client span2" style="width:200px; background:url({{ asset("OEF/img_admin_product/" ~ product.imageName) }});height:200px;background-size: cover;" id="{{ product.id }}">
                        <div class="bottom-name-product">
                            <span style="margin-left: 10px;display:inline-block;width:135px">{{ product.name }}</span>
                            <span>
                                <img src="{{ asset('ouieatfrench/theme/assets2/img/picto_stand.png')}}">
                                15
                            </span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="offset9" id="pagination-product">
            {% if pagesNumber != 0 %}
                {% if page > 1 %}
                    <a href="{{ path('oui_eat_french_public_product_index', {'page' : page-1}) }}" ><div class="arrow-left-pagination"></div></a>&nbsp;
                {% endif %}
                {% for i in 1..pagesNumber %}
                    <a href="{{ path('oui_eat_french_public_product_index', {'page' : i}) }}" 
                    {% if i == page %}style='color:#f9ac48;'{% endif %}>
                        {{ i }}
                    </a>
                    {% if i < pagesNumber %}
                        &nbsp;.
                    {% endif %}
                {% endfor %}
                {% if page != pagesNumber %}
                    &nbsp;<a href="{{ path('oui_eat_french_public_product_index', {'page' : page+1}) }}" ><div class="arrow-right-pagination"></div></a>
                {% endif %}
            {% else %}
                Aucuns produit ne correspond aux demandes
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(function () {
    jQuery(document).ready(function() {

        var valueCalories = $("#val-calories").val();
        console.log(valueCalories);
        $("#slider-range-min").slider({
          range: "min",
          min: 0,
          max: 200,
          step: 10,
          value: parseInt(valueCalories),
          slide: function( event, ui ) 
          {
            $("#amount").text(ui.value);
            $("#val-calories").val(ui.value);
          }
        });

        $("#amount").val($("#slider-range-min").slider("value") );

    });
});
</script>
{% endblock %}