<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div id="produit"></div>
Produits !
<form id="name">
    <select id="nametxt">
        <option value="tous">Tous</option>
        {% for product in products %}
            <option value="{{ product.name }}">{{ product.name|capitalize }}</option>
        {% endfor %}
    </select>
</form>
<div id="result"></div>
<table id="table">
    {% for product in products %}
        <tr id="{{ product.id }}">
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td><img style="width: 150px; height: 150px;" src="{{ asset("OEF/img_admin_product/" ~ product.imageName) }}" alt="{{ product.imageName }}"></td>
        </tr>
    {% endfor %}
</table>
{{ dump(path('oui_eat_french_public_product_ajax')) }}
<script type="text/javascript">
$(function () {
    jQuery(document).ready(function() {
        console.log("jQuery est prêt !");
        $("#nametxt").change(function(){
            if($("#nametxt").val() != 'tous')
            {
                $.ajax({
                    url: 'http://localhost/Projet_SUP/OuiEatFrench/web/app_dev.php/produits/ajax',
                    type: 'POST',
                    data:
                    {
                        name : $("#nametxt").val()
                    },
                    dataType: 'json',
                    success: function(response)
                    {
                        $('#table tr').each(function() {
                            if($(this).attr('id') != response[0])
                            {$(this).hide();}
                            else
                            {$(this).show();}
                        });
                    }
                });
            }
            else
            {
                $('#table tr').each(function(){$(this).show();});
            }
        return false;
        });
    });
});
</script>
