{% extends 'OuiEatFrenchPublicBundle::layout.html.twig' %}
{% block title %}OuiEatFrench | Panier{% endblock %}
{% block content %}
{% for flashMessage in app.session.flashbag.get('error') %}
	    <div class="alert alert-error">{{ flashMessage }}</div>
{% endfor %}
<div id="wrapper" style="min-height: 900px;">

	{% if cart.farmerProductCarts|length > 0 %}
		<!-- Titre Panier -->
		<div class="row">
			<div class="span10" id="title-product-cart">
	            JE PASSE &Agrave; LA CAISSE
	        </div>
		</div>

		<!-- Produits dans le  Panier -->
		<div class="row">
			<div class="span9" id="content-cart-client">
				<div class="row" id="title-category-cart">
					<div class="span2" style="text-align: left">
						<span style="margin-left: 30px;">PRODUIT(S)</span>
					</div>
					<div class="span2">
						PRODUCTEUR(S)
					</div>
					<div class="span2">
						QUANTIT&Eacute;
					</div>
					<div class="span1">
						PRIX UNI.
					</div>
					<div class="span2 last-column" style="font-weight: normal">
						PRIX HT
					</div>
				</div>
		    	{% set total = 0 %}
		    	{% for farmerProductCart in cart.farmerProductCarts %}
		    		{% set price = farmerProductCart.farmerProduct.unitPrice * farmerProductCart.unitQuantity %}
					<div class="row">
						<div class="span2 value-category-cart" style="text-align: left">
							<a class="link-remove-cart" href="{{ path('oui_eat_french_public_cart_remove', {'farmerProductCartId' : farmerProductCart.id}) }}" style="position: relative;bottom:27px;left:20px;display:none"><img src="{{ asset('ouieatfrench/theme/assets2/img/croix.png')}}"></a>
							 <div class="product-image-cart-client" style="background:url({{ asset("OEF/img_admin_product/" ~farmerProductCart.farmerProduct.product.imageName) }});background-size: cover;"></div> 
							<span class="underline" style="position: relative;bottom:25px;left:20px;">{{ farmerProductCart.farmerProduct.product.name|capitalize }}</span>
						</div>
						<div class="span2 value-category-cart" style="text-decoration: underline">
							{{farmerProductCart.farmerProduct.farmer.firstname}}.{{farmerProductCart.farmerProduct.farmer.lastname|first|capitalize}}.
						</div>
						<div class="span2 value-category-cart ">
							<form action="{{ path('oui_eat_french_public_cart_modify', {'farmerProductCartId' : farmerProductCart.id}) }}" method="post" style="display:inline-block">
			            		<input class="input-quantity-cart modif-cart" type="text" style="display:none;" value="{{ farmerProductCart.unitQuantity }}" name="quantity">
			            		 {# <input type="submit" class="modif-cart" value="modifier" name="submit"> #}
			        		</form>
			        		<span class="actual-cart">
			        			{{ farmerProductCart.unitQuantity }}
			        		</span>
			        		{{ farmerProductCart.farmerProduct.product.unitType.name }}
						</div>
						<div class="span1 value-category-cart">
							{{ farmerProductCart.farmerProduct.unitPrice|number_format(2, '.', ',') }}&euro;
						</div>
						<div class="span2 value-category-cart last-column">
							{{ price|number_format(2, '.', ',') }}&euro;
						</div>
					</div>
				    {% set total = total+price %}
				{% endfor %}
			</div>
			<div class="span2" id="ne-pas-rater">
				<div class="row" id="title-ne-pas-rater">
					A NE PAS RATER
				</div>
				<div class="row" style="margin-top: 30px;">
					<a href="{{ path('oui_eat_french_public_product_farmer_index', { 'productId' : '899' }) }}">
					    <div class="product-client span2" style="width:200px; background:url({{ asset("OEF/img_admin_product/courgette.jpg") }});height:175px;background-size: cover;margin-left:0px;" id="899">
					        <div class="bottom-name-product-cart">
					            <span style="margin-left: 10px;display:inline-block;width:135px">Courgette</span>
					            <span>
					                <img src="{{ asset('ouieatfrench/theme/assets2/img/picto_stand.png')}}">
					                15
					            </span>
					        </div>
					    </div>
					</a>
				</div>
				<div class="row" style="margin-top: 30px;">
					<a href="{{ path('oui_eat_french_public_product_farmer_index', { 'productId' : '905' }) }}">
					    <div class="product-client span2" style="width:200px; background:url({{ asset("OEF/img_admin_product/chou_fleur.jpg") }});height:175px;background-size: cover;margin-left:0px;" id="905">
					        <div class="bottom-name-product-cart">
					            <span style="margin-left: 10px;display:inline-block;width:135px">Chou fleur</span>
					            <span>
					                <img src="{{ asset('ouieatfrench/theme/assets2/img/picto_stand.png')}}">
					                5
					            </span>
					        </div>
					    </div>
					</a>
				</div>
				<div class="row" style="margin-top: 30px;">
					<a href="{{ path('oui_eat_french_public_product_farmer_index', { 'productId' : '902' }) }}">
					    <div class="product-client span2" style="width:200px; background:url({{ asset("OEF/img_admin_product/framboise.jpg") }});height:175px;background-size: cover;margin-left:0px;" id="902">
					        <div class="bottom-name-product-cart">
					            <span style="margin-left: 10px;display:inline-block;width:135px">Framboise</span>
					            <span>
					                <img src="{{ asset('ouieatfrench/theme/assets2/img/picto_stand.png')}}">
					                56
					            </span>
					        </div>
					    </div>
					</a>
				</div>
			</div>
		</div>

		<!-- Infos Panier -->
		<div class="row">
			<div class="span9" id="total-price-cart-client">
				<div class="span6" style="margin-left: 0px;width:500px;">
					<div class="span3" id="bon-reduction-cart">
						Bon de réduction, offre promo <br>
						&amp; code cadeaux
						<input type="text" name="reduction">
					</div>
				</div>
				<div class="span2" id="title-category-total-price">
					<div class="row" style="margin-top: 40px;">
						<div class="span2">TOTAL HT</div>
					</div>
					<div class="row">
						<div class="span2">TVA (20%)</div>
					</div>
					<div class="row">
						<div class="span2">R&Eacute;DUCTION</div>
					</div>
					<div class="row">
						<div class="span2">
							TOTAL TTC <br>
							<span class="little-text">(HORS FRAIS DE LIVRAISON)</span>
						</div>
					</div>
				</div>
				<div class="span2" id="value-total-price">
					<div class="row" style="margin-top: 40px;">
						<div class="span2">{{ total|number_format(2, ',', ',') }}&euro;</div>
					</div>
					<div class="row">
						{% set tva = total * 0.2 %}
						<div class="span2">{{ tva|number_format(2, ',', ',') }}&euro;</div>
					</div>
					<div class="row">
						<div class="span2">0,00&euro;</div>
					</div>
					<div class="row">
						<div class="span2">
							<span style="color:#f9ac48;">{{ (total + tva)|number_format(2, ',', ',') }}&euro;</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="checkbox" name="shipping" value="imgoing" id="shippingCheckbox"><label for="shippingCheckbox" style="display:inline-block">&nbsp;Je vais chercher moi-même ma commande</label><br><br>
		<!-- Boutons Panier -->
		<div class="row" style="margin-top: 50px;">
			<div class="span2 actual-cart" style="width:117px;margin-left: 584px;">
				<button id="modifier-cart-client">MODIFIER</button>
			</div>
			<div class="span1 actual-cart">
				<a href="" id="link-valider-cart-client"><button id="valider-cart-client">VALIDER</button></a>
			</div>
			<div class="span2 modif-cart" style="margin-left: 608px;display:none;">
				<button id="valider-modif-cart-client">VALIDER LES MODIFICATIONS</button>
			</div>
		</div>
	{% else %}

		<div class="row">
			<div class="span12" id="title-cart-empty">
	            Votre panier est vide !
	        </div>
		</div>

	{% endif %}
	{# <div class="row">
		<div class="col-md-10">
			<table class="table">
				<thead>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Unité</th>
					<th>Prix</th>
					<th></th>
				</thead>
				<tbody>
					{% set total = 0 %}
				    {% for farmerProductCart in cart.farmerProductCarts %}
				    	{% set price = farmerProductCart.farmerProduct.unitPrice * farmerProductCart.unitQuantity %}
				        <tr>
				            <td>{{ farmerProductCart.farmerProduct.product.name|capitalize }}</td>
				            <td>
				            	<form action="{{ path('oui_eat_french_public_cart_modify', {'farmerProductCartId' : farmerProductCart.id}) }}" method="post">
				            		<input type="text" value="{{ farmerProductCart.unitQuantity }}" name="quantity">
				            		<input type="submit" value="modifier" name="submit">
			            		</form>
			            	</td>
				            <td>{{ farmerProductCart.farmerProduct.product.unitType.name }}</td>
				            <td>{{ price|number_format(2, '.', ',') }}&euro;</td>
				            <td><a href="{{ path('oui_eat_french_public_cart_remove', {'farmerProductCartId' : farmerProductCart.id}) }}">Supprimer</a></td>
				        </tr>
				        {% set total = total+price %}
				    {% endfor %}
				    <tr>
				    	<td colspan="3"></td>
				    	<td colspan="2" style="line-height:50px"><strong>Total</strong> : {{ total|number_format(2, '.', ',') }}€</td>
				    </tr>
				</tbody>
			</table>
			<input type="checkbox" name="shipping" value="imgoing" id="shippingCheckbox"><label for="shippingCheckbox" style="display:inline-block">&nbsp;Je vais chercher moi-même ma commande</label><br><br>
		    <table style="width:500px;">
		    	<tr>
		    		<td><a href="" class="btn btn-action" id="validate">Valider</a></td>
		    		<td><a href="{{ path('oui_eat_french_public_cart_reset') }}" class="btn btn-danger">Vider le panier</a></td>
		    	</tr>
		    </table>
		</div>
	</div> #}
</div>

<script type="text/javascript">
	$('#link-valider-cart-client').on('click', function() {
		var url = "{{ path('oui_eat_french_public_cart_identification', {shipping : 'change_shipping'}) }}";
		if ($("input[name='shipping']").is(':checked')) {
			var newurl = url.replace('change_shipping', '1');
		} else {
			var newurl = url.replace('change_shipping', '0');
		}
		$(this).attr('href', newurl);
	});

	$('#modifier-cart-client').click(function(){
		$('.link-remove-cart').show();
		$('.actual-cart').hide();
		$('.modif-cart').show();
	});

	$('#valider-modif-cart-client').click(function(){
		$('.link-remove-cart').hide();
		$('.actual-cart').show();
		$('.modif-cart').hide();
	});
</script>
{% endblock %}