{% extends "base.html.twig" %}
{% block title %}OuiEatFrench | Panier{% endblock %}
{% block body %}
<div style="width:1500px;margin:auto;">
	<div class="row">
		<div class="col-md-10">
			<h3>{{app.user | title}}, voici votre panier :</h3>
		</div>
	</div>

	{% for flashMessage in app.session.flashbag.get('error') %}
	    <div class="alert alert-error">{{ flashMessage }}</div>
	{% endfor %}

	<div class="row">
		<div class="col-md-10">
			<table class="table">
				<thead>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Unité</th>
					<th>Prix</th>
					<th></th>
				</thead>
				<tbody>
					{% set total = 0 %}
				    {% for farmerProductCart in cart.farmerProductCarts %}
				    	{% set price = farmerProductCart.farmerProduct.unitPrice * farmerProductCart.unitQuantity %}
				        <tr>
				            <td>{{ farmerProductCart.farmerProduct.product.name|capitalize }}</td>
				            <td>
				            	<form action="{{ path('oui_eat_french_public_cart_modify', {'farmerProductCartId' : farmerProductCart.id}) }}" method="post">
				            		<input type="text" value="{{ farmerProductCart.unitQuantity }}" name="quantity">
				            		<input type="submit" value="modifier" name="submit">
			            		</form>
			            	</td>
				            <td>{{ farmerProductCart.farmerProduct.product.unitType.name }}</td>
				            <td>{{ price|number_format(2, '.', ',') }}&euro;</td>
				            <td><a href="{{ path('oui_eat_french_public_cart_remove', {'farmerProductCartId' : farmerProductCart.id}) }}">Supprimer</a></td>
				        </tr>
				        {% set total = total+price %}
				    {% endfor %}
				    <tr>
				    	<td colspan="3"></td>
				    	<td colspan="2" style="line-height:50px"><strong>Total</strong> : {{ total|number_format(2, '.', ',') }}€</td>
				    </tr>
				</tbody>
			</table>
			<input type="checkbox" name="shipping" value="imgoing" id="shippingCheckbox"><label for="shippingCheckbox" style="display:inline-block">&nbsp;Je vais chercher moi-même ma commande</label><br><br>
		    <table style="width:500px;">
		    	<tr>
		    		<td><a href="" class="btn btn-action" id="validate">Valider</a></td>
		    		<td><a href="{{ path('oui_eat_french_public_cart_reset') }}" class="btn btn-danger">Vider le panier</a></td>
		    	</tr>
		    </table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#validate').click(function() {
		var url = "{{ path('oui_eat_french_payment_prepare_paypal', {shipping : 'change_shipping'}) }}";
		if ($("input[name='shipping']").is(':checked')) {
			var newurl = url.replace('change_shipping', '1');
		} else {
			var newurl = url.replace('change_shipping', '0');
		}

		$(this).attr('href', newurl);
	});
</script>
{% endblock %}