{% extends "base.html.twig" %}
{% block title %}OuiEatFrench | Panier{% endblock %}
{% block body %}
<div style="width:1500px;margin:auto;">
	<div class="row">
		<div class="col-md-10">
			<h3>{{app.user | title}}, voici votre panier :</h3>
		</div>
	</div>

	{% for flashMessage in app.session.flashbag.get('error') %}
	    <div class="alert alert-error">{{ flashMessage }}</div>
	{% endfor %}

	<div class="row">
		<div class="col-md-10">
			<table class="table">
				<thead>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Unité</th>
					<th>Prix</th>
					<th></th>
				</thead>
				<tbody>
					{% set total = 0 %}
				    {% for farmerProductCart in cart.farmerProductCarts %}
				    	{% set price = farmerProductCart.farmerProduct.unitPrice * farmerProductCart.unitQuantity %}
				        <tr>
				            <td>{{ farmerProductCart.farmerProduct.product.name|capitalize }}</td>
				            <td>
				            	<form action="{{ path('oui_eat_french_public_cart_modify', {'farmerProductCartId' : farmerProductCart.id}) }}" method="post">
				            		<input type="text" value="{{ farmerProductCart.unitQuantity }}" name="quantity">
				            		<input type="submit" value="modifier" name="submit">
			            		</form>
			            	</td>
				            <td>{{ farmerProductCart.farmerProduct.unitType.name }}</td>
				            <td>{{ price|number_format(2, '.', ',') }}€</td>
				            <td><a href="{{ path('oui_eat_french_public_cart_remove', {'farmerProductCartId' : farmerProductCart.id}) }}">Supprimer</a></td>
				        </tr>
				        {% set total = total+price %}
				    {% endfor %}
				    <tr>
				    	<td colspan="3"></td>
				    	<td colspan="2" style="line-height:50px"><strong>Total</strong> : {{ total|number_format(2, '.', ',') }}€</td>
				    </tr>
				</tbody>
			</table>
		    <table style="width:500px;">
		    	<tr>
		    		<td><a href="{{ path('oui_eat_french_public_cart_valid') }}" class="btn btn-action">Valider</a></td>
		    		<td><a href="{{ path('oui_eat_french_public_cart_reset') }}" class="btn btn-danger">Vider le panier</a></td>
		    	</tr>
		    </table>
		</div>
	</div>
</div>
{% endblock %}