{% extends 'OuiEatFrenchFarmerBundle::layout.html.twig' %}
{% block content %}
<div class="row">
	<div class="span6 offset8" style="margin-top: 50px;margin-bottom: 50px;margin-left: 850px;">
		<p class="titre-disponibilites">Mes disponibilités</p>
	</div>
</div>
<div class="row">
	<div class="span8 offset6" style="margin-bottom:20px;">
		<p class="description-disponibilites">
			Vos disponibilités représentent les moments où vous acceptez des visites dans votre exploitation. <br>
			<span class="offset1">Ces informations se retrouveront sur votre boutique.</span>
		</p>
	</div>
</div>
<div class="row">
	<div class="span9 offset5" style="margin-left: 500px;">
		<table class="table table-striped" id="table-disponibilites">
			<thead>
				<th style="width:100px;"></th>
				<th style="width:300px;text-align: center;	font-weight: 500;">Matin (9h00 - 12h00)</th>
				<th style="width:300px;text-align: center;	font-weight: 500;">Après-midi (14h00 - 17h00)</th>
			</thead>
			<tbody>
				<tr class="td-white">
					<td>Lundi</td>
					<td>
						{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "lundi matin" %}
								{% set no_available = 1 %}

							{% endif %}
						{% endfor %}
							{% if no_available == 1 %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}
					</td>
					<td>
						{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "lundi après-midi" %}
								{% set no_available = 1 %}
							{% endif %}
						{% endfor %}
							{% if no_available == 1  %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}
					</td>
				</tr>
				<tr>
					<td>Mardi</td>
					<td>
						{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "mardi matin" %}
								{% set no_available = 1 %}
							{% endif %}
						{% endfor %}
							{% if no_available == 1 %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}
					</td>
					<td>
						{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "mardi après-midi" %}
								{% set no_available = 1 %}
							{% endif %}
						{% endfor %}
							{% if no_available == 1  %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}
					</td>
				</tr>
				<tr class="td-white">
					<td>Mercredi</td>
					<td>
						{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "mercredi matin" %}
								{% set no_available = 1 %}
							{% endif %}
						{% endfor %}
							{% if no_available == 1  %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}
					</td>
					<td>
						{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "mercredi après-midi" %}
								{% set no_available = 1 %}
							{% endif %}
						{% endfor %}
							{% if no_available == 1 %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}
					</td>
				</tr>
				<tr>
					<td>Jeudi</td>
					<td>
						{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "jeudi matin" %}
								{% set no_available = 1 %}
							{% endif %}
						{% endfor %}
							{% if no_available == 1  %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}
					</td>
					<td>
						{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "jeudi après-midi" %}
								{% set no_available = 1 %}
							{% endif %}
						{% endfor %}
							{% if no_available == 1  %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}
					</td>
				</tr>
				<tr class="td-white">
					<td>Vendredi</td>
					<td>
						{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "vendredi matin" %}
								{% set no_available = 1 %}
							{% endif %}
						{% endfor %}
							{% if no_available == 1 %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}
					</td>
					<td>
						{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "vendredi après-midi" %}
								{% set no_available = 1 %}
							{% endif %}
						{% endfor %}
							{% if no_available == 2  %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}
					</td>
				</tr>
				<tr>
					<td>Samedi</td>
					<td>{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "samedi matin" %}
								{% set no_available = 1 %}
							{% endif %}
						{% endfor %}
							{% if no_available == 1 %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}</td>
					<td>
						{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "samedi après-midi" %}
								{% set no_available = 1 %}
							{% endif %}
						{% endfor %}
							{% if no_available == 1 %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}</td>
				</tr>
				<tr class="td-white">
					<td>Dimanche</td>
					<td>
						{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "dimanche matin" %}
								{% set no_available = 1 %}
							{% endif %}
						{% endfor %}
							{% if no_available == 1  %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}
					</td>
					<td>
						{% set no_available = 0 %}
						{% for availabilitySlots in entity.availabilitySlots %}
							{% if availabilitySlots.name == "dimanche après-midi" %}
								{% set no_available = 1 %}
							{% endif %}
						{% endfor %}
							{% if no_available == 1  %}
								<span class="disponible">
									<img src="{{ asset('ouieatfrench/farmer/img/check.png')}}"> 
									Disponible
								</span>
							{% else %}
								-
							{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row" style="margin-top: 20px;">
	<div class="span5 offset8" style="margin-left:820px;">
		<a href="{{ path('oui_eat_french_farmer_availability_edit', { 'id': entity.id }) }}">
			<button id="button-change-disponibilites">
				Modifier mes disponibilités
			</button>
		</a>
	</div>
</div>

<div class="row">
	<div class="span9 offset5" id="separateur-dispo" style="margin-left: 500px;">
	</div>
</div>

<div class="row">
	<div class="span6 offset8" style="margin-top: 50px;margin-bottom: 50px;margin-left: 850px;">
		<p class="titre-disponibilites">Mes vacances</p>
	</div>
</div>

<div class="row">
	<div class="span8 offset7" style="margin-bottom:20px;margin-left: 775px;">
		<p class="description-disponibilites">
			Programmez vos vacances, ou improvisez les ! <br>
			<span class="offset1" style="margin-left: 90px;">Définissez ici la durée.</span>
		</p>
	</div>
</div>

<div class="row">
	<div class="span9 offset5" id="checkbox-vacances">
		<span style="margin-left: 20px;margin-right: 20px;"><input id="vacancesCheckbox" type="checkbox" name="vacances"></span>
		<span style="font-size: 15px;color:#999999;"><label for="vacancesCheckbox" style="display: inline-block;">Je suis en vacances (mes produits disparaîtront du store tant que cette case sera cochée), sans durée précise.</label></span>
	</div>
</div>
<!--
<div class="row">
	<div class="span9 offset5" id="programmation-vacances" style="margin-left: 500px;">
		<div id="input-vacances">
			<span style="margin-left: 20px;margin-right: 5px;">Je programme mes vacances : du </span>
			<span style="margin-right: 5px;"><input type="date" name="start-vacances" /></span>
			<span style="margin-right: 5px;">au</span>
			<span style="margin-right: 15px;"><input type="date" name="end-vacances" /></span>
			<span><button class="btn-validate-vacances">Valider</button></span>
		</div>
		<div class="separateur-vacances">
		</div>
		<div class="vacances">
			<div>
				<img src="{{ asset('ouieatfrench/farmer/img/puce.png')}}"> <span style="margin-left:27px;">Programmation de vacances : du <span class="bold">20/07/2015</span> au <span class="bold">02/08/2015</span></span>
				<span class="supprimer-vacances">Supprimer</span>
			</div>
		</div>
	</div>
</div>
-->
<script type="text/javascript">
    jQuery(document).ready(function() {

        if ('{{ farmer.holidaysCheckbox }}' == '1')
        {
            $('input[name=vacances]').attr('checked', true);
        }

        $("#vacancesCheckbox").change(function(){
            holidaysCHeckBox();
        });

        function holidaysCHeckBox(){
            $.ajax({
                url: '{{ path('oui_eat_french_farmer_availability_set_holidays_checkBox') }}',
                type: 'POST',
                data:
                {
                    checkbox : $('input[name=vacances]').is(':checked')
                },
                dataType: 'json',
                success: function(response)
                {
                    console.log(response);
                }
            });
            return false;
        };
    });
</script>
{% endblock %}
