{% extends 'OuiEatFrenchAdminBundle::layout.html.twig' %}

{% block title %}
<h3>Index des produits</h3>
{% endblock %}
{% block content %}
<a href={{ path('oui_eat_french_admin_product_create') }}><button class="btn btn-success offset12" type="button">Ajouter</button></a>
<table class="table table-hover">
    <thead>
    <tr>
        <td><strong>Image</strong></td>
        <td><strong>Nom</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Calories pour 100g</strong></td>
        <td><strong>Actions</strong></td>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><img style="width: 150px; height: 150px;" src="{{ asset("OEF/img_admin_product/" ~ entity.imageName) }}" alt="{{ entity.imageName }}"></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.calories }}</td>
            <td>
                <ul>
                    <li><a href={{ path('oui_eat_french_admin_product_edit', {'id' : entity.id}) }}>Edition</a></li>
                    <li><a class='delete' href={{ path('oui_eat_french_admin_product_delete', {'id' : entity.id}) }}>Supprimer</a></li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
