{% extends 'OuiEatFrenchAdminBundle::layout.html.twig' %}

{% block page_title %}
<h3>Index des produits</h3>
{% endblock %}
{% block content %}
    {% if errorImport is defined %}
        <div class="alert alert-error offset9 span5">
          {{ errorImport }}
        </div>
    {% endif %}
<form method="post" action="import" enctype="multipart/form-data" id="form-import" class="offset9 span5">
        <!-- <input type="file" name="import-file" accept=".csv" id="button-import" required class="btn">
        <input type="submit" value="Importer produits" id="button-submit" class="btn btn-info"> -->
</form>
<a href={{ path('oui_eat_french_admin_product_create') }}><button class="btn btn-success offset12" type="button">Ajouter</button></a>
<table class="table table-hover">
    <thead>
    <tr>
        <td><strong>Image</strong></td>
        <td><strong>Nom</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Saisons</strong></td>
        <td><strong>Calories pour 100g</strong></td>
        <td><strong>Type unité</strong></td>
        <td><strong>Actions</strong></td>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><img style="width: 150px; height: 150px;" src="{{ asset("OEF/img_admin_product/" ~ entity.imageName) }}" alt="{{ entity.imageName }}"></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>
                {% for season in entity.season %}
                    -&nbsp;{{ season.name }}<br>
                {% endfor %}
            </td>
            <td>{{ entity.calories }}</td>
            <td>{% if entity.unitType %}{{ entity.unitType.name }}{% endif %}</td>
            <td>
                <ul>
                    <li><a href={{ path('oui_eat_french_admin_product_edit', {'id' : entity.id}) }}>Edition</a></li>
                    <li><a class='delete' href={{ path('oui_eat_french_admin_product_delete', {'id' : entity.id}) }}>Supprimer</a></li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
