{% extends 'OuiEatFrenchAdminBundle::layout.html.twig' %}

{% block title %}
<h3>Index des faq</h3>
{% endblock %}
{% block content %}
<a href={{ path('oui_eat_french_admin_faq_create') }}><button class="btn btn-success offset12" type="button">Ajouter</button></a>
<table class="table">
    <thead>
    <tr>
        <td><strong>Titre</strong></td>
        <td><strong>Question</strong></td>
        <td><strong>Réponce</strong></td>
        <td><strong>Actions</strong></td>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr style="background-color:{% if entity.disable == 1 %}#ADCF4F{% else %}#B4AF91{% endif %}">
            <td>{{ entity.title }}</td>
            <td>{{ entity.question }}</td>
            <td>{{ entity.answer }}</td>
            <td>
                <ul>
                    <li><a href={{ path('oui_eat_french_admin_faq_edit', {'id' : entity.id}) }}>Edition</a></li>
                    <li><a class='delete' href={{ path('oui_eat_french_admin_faq_delete', {'id' : entity.id}) }}>Supprimer</a></li>
                    <li><a href={{ path('oui_eat_french_admin_faq_disable', {'id' : entity.id}) }}>
                        {% if entity.disable == 1 %}Ne plus afficher{% else %}Afficher{% endif %}
                    </a></li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}