{% extends 'OuiEatFrenchFarmerBundle::layout.html.twig' %}
{% block content %}
<div class="row">
    <div class="span6 offset8" style="margin-top: 50px;margin-bottom: 50px;">
        <p class="titre-index">Bienvenue Jean.R</p>
    </div>
</div>
<div class="row">
    <div class="span9 offset5 chiffres" style="text-align: center; margin-bottom: 20px;">
        <div class="row commerce-chiffres">
            Juin 2015
        </div>
        <div class="row chiffres-commandes">
            <div class="span2 chiffres-data">
                Total de commande <br>
                <span class="bold">17</span>
            </div>
            <div class="span2 chiffres-data">
                Commandes en cours <br>
                <span class="bold">3</span>
            </div>
            <div class="span2 chiffres-data">
                Commandes validées <br>
                <span class="bold">14</span>
            </div>
            <div class="span2 chiffres-data" style="border-right: 0px;">
                Total de gain <br>
               <span class="bold">570.30&euro;</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span9 offset5 best-selling" style="margin-bottom: 20px;">
        <div class="row title-best-selling">
            Vos meilleures ventes
        </div>
        <div class="row product-best-selling">
            <div class="span2">
                 <img src="{{ asset('OEF/img_admin_product/mangue.jpg')}}" height="185" width="250" alt="image de mangue" class="product_img"> <br>
                 <span class="name-product-best">Mangues</span>
            </div>
            <div class="span2">
                 <img src="{{ asset('OEF/img_admin_product/abricot.jpg')}}" height="185" width="250" alt="image de mangue" class="product_img"> <br>
                 <span class="name-product-best">Abricots</span>
            </div>
            <div class="span2">
                 <img src="{{ asset('OEF/img_admin_product/cerise.jpg')}}" height="185" width="250" alt="image de mangue" class="product_img"> <br>
                 <span class="name-product-best">Cerises</span>
            </div>
            <div class="span2">
                 <img src="{{ asset('OEF/img_admin_product/orange.jpg')}}" height="185" width="250" alt="image de mangue" class="product_img"> <br>
                 <span class="name-product-best">Oranges</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span9 offset5 best-selling" style="margin-bottom: 20px;">
        <div class="row title-best-selling">
            Les produits les plus demandés de la région
        </div>
        <div class="row product-best-selling">
            <div class="span2">
                 <img src="{{ asset('OEF/img_admin_product/mangue.jpg')}}" height="185" width="250" alt="image de mangue" class="product_img"> <br>
                 <span class="name-product-best">Mangues</span>
            </div>
            <div class="span2">
                 <img src="{{ asset('OEF/img_admin_product/abricot.jpg')}}" height="185" width="250" alt="image de mangue" class="product_img"> <br>
                 <span class="name-product-best">Abricots</span>
            </div>
            <div class="span2">
                 <img src="{{ asset('OEF/img_admin_product/cerise.jpg')}}" height="185" width="250" alt="image de mangue" class="product_img"> <br>
                 <span class="name-product-best">Cerises</span>
            </div>
            <div class="span2">
                 <img src="{{ asset('OEF/img_admin_product/orange.jpg')}}" height="185" width="250" alt="image de mangue" class="product_img"> <br>
                 <span class="name-product-best">Oranges</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
