{% extends 'base.html.twig' %}
{% block body %}
<div class="row login-background">
	<div class="logo-oef">
		<img src="{{ asset('ouieatfrench/farmer/img/login-logo.png')}}">
	</div>
	<div class="span4 inscription offset6">
		<div class="row title-inscription-form">
			INSCRIPTION
		</div>
		<div class="row inscription-form">
			<form action="{{ path('oui_eat_french_farmer_user_register') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate" id="form-inscription">
			    {% for child in form.children %}
			        {{ form_row(child) }}
			    {% endfor %}
			    <button class="btn-inscription" type="submit" form="form-inscription">JE M'INSCRIS <i class="icon-arrow-right icon-white"></i></button>
			</form>
		</div>
	</div>
	<div class="span4 connexion">
		<div class="row title-connexion-form">
			CONNEXION
		</div>
		<div class="row text-connexion">
			Déjà un compte sur notre <br>
			 plateforme ?<br>
			 Connectez vous !
		</div>
		<hr></hr>
		<div class="row text-password">
			<a href="">Mot de passe oublié ?</a>
		</div>
		<div class="row connexion-form">
            <form action="{{ path('oui_eat_french_farmer_user_login') }}" method="post" novalidate="novalidate" id="form-connexion">
                <input type="text" name="email">
                <input type="password" name="password"><br>
                <button class="btn-connexion" type="submit" form="form-connexion">JE ME CONNECTE</button>
            </form>
            {% if error is defined and error is not null %}
                {{ error }}
            {% endif %}
		</div>
	</div>
	<div class="why-work-whith-us span4 offset6">
		<div class="img-work">
			<img src="{{ asset('ouieatfrench/farmer/img/login-why-work.png')}}">
		</div>
		<div class="text-work">
			Pourquoi travailler avec nous ?
		</div>
	</div>
	<div class="temoignage span4">
		<div class="img-temoignage">
			<img src="{{ asset('ouieatfrench/farmer/img/login-temoignagne.png')}}">
		</div>
		<div class="text-temoignage">
			Témoignage : Jean Paul et nous
		</div>
	</div>
</div>
<div class="row">
	<div class="bottom-link offset6">
	  <a href="">CGV</a> |
	  <a href="">Foire aux questions</a> |
	  <a href="">La politique de confidentialité</a> |
	  <a href="">Qui sommes-nous ?</a> |
	  <a href="">Comment ça marche ?</a>
	</div>
</div>

{% endblock %}