<h3>Profil</h3>
<p>
	{% if farmer.status.name == "to_review" %}
		Votre candidature est en court d'évaluation
	{% elseif farmer.status.name == "missing_doc" %}
		Il manque un document pour que votre candidature soit étudiée
	{% elseif farmer.status.name == "validate" %}
		Vous pouvez accéder à la composition de votre stand
	{% elseif farmer.status.name == "banned" %}
		Vous ne pouvez plus agir sur ouieatfrench jusqu'à nouvel ordre. Contacter l'équipe Ouieatfrench pour toute réclamation
	{% endif %}
</p>
<ul>
	<li>Prénom : {{farmer.firstname}}</li>
	<li>Nom : {{farmer.lastname}}</li>
	<li>Email : {{farmer.email}}</li>
	<li>Téléphone : {{farmer.phone}}</li>
	<li>Adresse : {{farmer.street}} {{farmer.postcode}} {{farmer.city | title}}</li>
</ul>
<ul>
	<li>Nom de l'exploitation : {{farmer.companyName}}</li>
	<li>Adresse de l'exploitation : {{farmer.companyStreet}} {{farmer.companyPostcode}} {{farmer.companyCity}}</li>
</ul>