{% extends 'OuiEatFrenchAdminBundle::layout.html.twig' %}

{% block page_title %}
<h3>Index des candidatures</h3>
{% endblock %}
{% block content %}
<table class="table table-hover">
    <thead>
    <tr>
        <td><strong>Avatar</strong></td>
        <td><strong>Prénom</strong></td>
        <td><strong>Nom</strong></td>
        <td><strong>Email</strong></td>
        <td><strong>Téléphone</strong></td>
        <td><strong>Adresse</strong></td>
        <td><strong>Nom de l'exploitation</strong></td>
        <td><strong>Adresse de l'exploitation</strong></td>
        <td><strong>Actions</strong></td>
    </tr>
    </thead>
    <tbody>
    {% for farmer in farmers %}
        <tr>
            <td><a href=""><img width="100px" src="{{ asset("OEF/user_farmer/avatar/" ~ farmer.avatar) }}" alt="{{farmer.firstname}} {{farmer.lastname}} avatar"></a></td>
            <td {% if farmer.status is defined and farmer.status is not null %}style="background-color:{{ farmer.status.color }};{% if farmer.status.name == "banned" %}color:#FFFFFF;{% endif %}"{% endif %}>{{farmer.firstname}}</td>
            <td {% if farmer.status is defined and farmer.status is not null %}style="background-color:{{ farmer.status.color }};{% if farmer.status.name == "banned" %}color:#FFFFFF;{% endif %}"{% endif %}>{{farmer.lastname}}</td>
            <td>{{farmer.email}}</td>
            <td>{{farmer.phone}}</td>
            <td>{{farmer.street}} {{farmer.postcode}} {{farmer.city | title}}</td>
            <td>{{farmer.companyName}}</td>
            <td>{{farmer.companyStreet}} {{farmer.companyPostcode}} {{farmer.companyCity | title}}</td>
            <td>
                <ul style="list-style-type:none;">
                    {% for status in statusButton %}
                    <li><a href={{ path('oui_eat_french_admin_application_status', {'id' : farmer.id, 'status_id' : status.id}) }} class="btn" style="color:{{status.color}};font-weight:bold;">{{status.translation}}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
