{% extends 'OuiEatFrenchAdminBundle::layout.html.twig' %}

{% block page_title %}
<h3>Candidature de {{farmer.firstname}} {{farmer.lastname}}</h3>
{% endblock %}
{% block content %}

<h4>status : {{farmer.status.translation}}</h4>

<ul>
	<li>Pseudo : {{farmer.username}}</li>
	<li>Prénom : {{farmer.firstname}}</li>
	<li>Nom : {{farmer.lastname}}</li>
	<li>Email : {{farmer.email}}</li>
	<li>Téléphone : {{farmer.phone}}</li>
	<li>Adresse : {{farmer.street}} {{farmer.postcode}} {{farmer.city | title}}</li>
</ul><br>
<ul>
	<li>Nom de l'exploitation : {{farmer.companyName}}</li>
	<li>Adresse de l'exploitation : {{farmer.companyStreet}} {{farmer.companyPostcode}} {{farmer.companyCity}}</li>
</ul>
{% endblock %}