{% extends 'OuiEatFrenchFarmerBundle::layout.html.twig' %}
{% block content %}
<div id="wrapper">
    <!--  Titre Page -->
    <div class="row">
        <div class="span6 offset5" style="margin-top: 50px;margin-bottom: 50px;">
            <p class="titre-disponibilites">Editer un produit</p>
        </div>
    </div>
    <form action="{{ path(route, {'id' : id}) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate" id="form-editer-produit">

        <!--Catégorie "Fiche Produit" -->
        <div class="row">
            <div class="span6 offset3" id="fiche-produit">
                <div class="titre-fiche-produit center">
                    Fiche produit
                </div>
                <div class="content-fiche-produit">
                    <div class="champ-fiche-produit">
                        <span>{{ form_errors(form.product) }}</span>
                        <span class="label-fiche-produit">{{ form_label(form.product) }}</span>
                        <span>{{ form_widget(form.product) }}</span>
                    </div>
                    <div class="champ-fiche-produit">
                        <span>{{ form_errors(form.plantation) }}</span>
                        <span class="label-fiche-produit-plantation">{{ form_label(form.plantation) }}</span>
                        <span class="plantation-form">{{ form_widget(form.plantation) }}</span>
                    </div>
                    <div class="champ-fiche-produit">
                        <span>{{ form_errors(form.harvest) }}</span>
                        <span class="label-fiche-produit-recolte">{{ form_label(form.harvest) }}</span>
                        <span class="recolte-form">{{ form_widget(form.harvest) }}</span>
                    </div>
                    <div class="champ-fiche-produit">
                        <span>{{ form_errors(form.unitMinimum) }}</span>
                        <span class="label-fiche-produit-minimum-unite">{{ form_label(form.unitMinimum) }}</span>
                        <span class="minimum-unite-form">{{ form_widget(form.unitMinimum) }}</span>
                    </div>
                    <div class="champ-fiche-produit">
                        <span>{{ form_errors(form.agricultureType) }}</span>
                        <span class="label-fiche-produit-agriculture">{{ form_label(form.agricultureType) }}</span>
                        <span class="minimum-unite-form">{{ form_widget(form.agricultureType) }}</span>
                    </div>
                    <div class="champ-fiche-produit" style="height:120px;">
                        <span>{{ form_errors(form.conservation) }}</span>
                        <span class="label-fiche-produit-conservation">{{ form_label(form.conservation) }}</span>
                        <span class="conservation-form">{{ form_widget(form.conservation) }}</span>
                    </div>
                </div>
            </div>
        </div>

        <!--Catégorie "Quantité" -->
        <div class="row">
            <div class="span6 offset3" id="quantite">
                <div class="titre-fiche-produit center">
                    Quantité
                </div>
                <div class="content-fiche-produit">
                    <div class="champ-fiche-produit">
                        <span>{{ form_errors(form.unitPrice) }}</span>
                        <span class="label-fiche-produit-unitPrice">{{ form_label(form.unitPrice) }}</span>
                        <span class="unitPrice-form">{{ form_widget(form.unitPrice) }} / <span id="unityType"></span></span>
                    </div>
                    <div class="champ-fiche-produit">
                        <span>{{ form_errors(form.unitQuantity) }}</span>
                        <span class="label-fiche-produit-unitQuantity">{{ form_label(form.unitQuantity) }}</span>
                        <span class="unitQuantity-form">{{ form_widget(form.unitQuantity) }}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bouton "Valider" -->
        <div class="row">
            <div class="span3 offset5" id="button-add-product">
                {{ form_rest(form) }}
                <button class="btn-validate-add-product" type="submit" form="form-editer-produit">Valider</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        jQuery(document).ready(function() {

            unitPrice($('#{{ form.product.vars.id }} option:selected').val());

            $('#{{ form.product.vars.id }}').change(function(){
                var idProduct = $('#{{ form.product.vars.id }} option:selected').val();

                unitPrice(idProduct);
            });

            function unitPrice(idProduct)
            {
                $.ajax({
                    url: '{{ path('oui_eat_french_farmer_product_ajax_unity_type') }}',
                    type: 'POST',
                    data:
                    {
                        'product' : idProduct
                    },
                    dataType: 'json',
                    success: function(response)
                    {
                        if ( typeof response === 'string' )
                        {
                            $('#unityType').html(response.replace(/"/g, ''));
                        }
                        else
                        {
                            $('#unityType').html(response);
                        }
                    }
                });
                return false;
            }
        });
    });
</script>

{% endblock %}