{% extends 'OuiEatFrenchFarmerBundle::layout.html.twig' %}
{% block content %}
<div class="container">
{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="flash-warning">
        {{ flashMessage }}
    </div>
{% endfor %}
<div class="row" style="margin-bottom: 100px;margin-top: 50px;">
    <div class="text-catalogue offset1">
        L'ensemble de vos produits actuellement disponible dans votre boutique
    </div>
</div>
{% if farmerproducts|length == 0 %}
    Vous n'avez aucun produit dans votre stand
{% else %}
<div id="farmerproducts">
{% for farmerproduct in farmerproducts %}
    <div class="farmerproduct" style="float:left;">
        {# <div class="title_product"><span style="float:left;">Produit : {% if farmerproduct.product is not null %}{{ farmerproduct.product.name|capitalize }}{% endif %}</span> <span style="float:right;"><a href={{ path('oui_eat_french_farmer_product_edit', {'farmerId' : farmer.id, 'id' : farmerproduct.id}) }}>Modifier</a> | <a class='delete' href={{ path('oui_eat_french_farmer_product_delete', {'farmerId' : farmer.id, 'id' : farmerproduct.id}) }}>Supprimer</a></span></div><div style="clear:both"></div> #}
        <div class="product_description">
            {% if farmerproduct.product is not null %}
                <img src="{{ asset('OEF/img_admin_product/' ~ farmerproduct.product.imageName) }}" height="185" width="250" alt="image de {{ farmerproduct.product.name }}" class="product_img">
            {% endif %}
            <div class="product_description_left">
                <div class="name_product">{% if farmerproduct.product is not null %}{{ farmerproduct.product.name|capitalize }}{% endif %}</div>
                <div class="type_agriculture">Agriculture {{ farmerproduct.agricultureType }}</div>
                <div class="price_products">
                    <span class="quantity_product">{{ farmerproduct.unitQuantity }} {{ farmerproduct.unitType }}</span>
                     à 
                     <span class="price_product">{{ farmerproduct.unitPrice }}€</span>
                </div>
                <hr class="hr-produits"></hr>
                <div class="link_update_product">
                    <a href="{{ path('oui_eat_french_farmer_product_edit', {'id' : farmerproduct.id}) }}"><i class="icon-cog"></i>Modifier ce produit</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    <div class="new-product">
        <a href="{{ path('oui_eat_french_farmer_product_add') }}">
            <div class="button-new-product no-text-decoration">
                <div class="button-plus">
                    <i class="icon-plus icon-white"></i>
                </div>
                <div class="text-button-new-product">
                    Ajouter <br>
                    un nouveau produit
                </div>
            </div>
        </a>
    </div>
</div>
{% endif %}
</div>
{% endblock %}