{% extends 'OuiEatFrenchFarmerBundle::layout.html.twig' %}
{% block content %}
{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="flash-warning">
        {{ flashMessage }}
    </div>
{% endfor %}
<div class="row">
    <div class="text-catalogue offset1">
        L'ensemble de vos produits actuellement disponible dans votre boutique
    </div>
</div>
<div style="width:100%;height:80px;border-style:solid;text-align:center;padding-top:15px;margin-bottom:40px;letter-spacing:1px;margin-top:20px">
    <a href="{{ path('oui_eat_french_farmer_product_add', {'farmerId' : farmer.id}) }}"><h3>Ajouter un produit à mon stand</h3></a>
</div>

{% if farmerproducts|length == 0 %}
    Vous n'avez aucun produit dans votre stand
{% else %}
<div id="farmerproducts">
{% for farmerproduct in farmerproducts %}
    <div class="farmerproduct" style="float:{% if loop.index is odd %}left{% else %}right{% endif %};">
        {# <div class="title_product"><span style="float:left;">Produit : {% if farmerproduct.product is not null %}{{ farmerproduct.product.name|capitalize }}{% endif %}</span> <span style="float:right;"><a href={{ path('oui_eat_french_farmer_product_edit', {'farmerId' : farmer.id, 'id' : farmerproduct.id}) }}>Modifier</a> | <a class='delete' href={{ path('oui_eat_french_farmer_product_delete', {'farmerId' : farmer.id, 'id' : farmerproduct.id}) }}>Supprimer</a></span></div><div style="clear:both"></div> #}
        <div class="product_description">
            {% if farmerproduct.product is not null %}
                <img src="{{ asset('ouieatfrench/theme/assets2/img/' ~ farmerproduct.product.imageName) }}" width="250" alt="image de {{ farmerproduct.product.name }}" class="product_img">
            {% endif %}
            <div class="product_description_left">
                <div class="name_product">{% if farmerproduct.product is not null %}{{ farmerproduct.product.name|capitalize }}{% endif %}</div>
                <div class="type_agriculture">Agriculture {{ farmerproduct.agricultureType }}</div>
                <div class="price_products">
                    <span class="quantity_product">12 kg</span>
                     à 
                     <span class="price_product">{{ farmerproduct.unitPrice }}€</span>
                </div>
                <hr class="hr-produits"></hr>
                <div class="link_update_product">
                    <a href="{{ path('oui_eat_french_farmer_product_edit', {'farmerId' : farmer.id, 'id' : farmerproduct.id}) }}">Modifier ce produit</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endif %}

{% endblock %}