{% extends 'OuiEatFrenchFarmerBundle::layout.html.twig' %}

{% block content %}
	<div class="row type-commandes">
		<div class="commandes-en-cours offset4 span5 active-commandes">
			Mes commandes en cours ({{commands_inprogress|length}})
		</div>
		<div class="commandes-finies span5">
			Mes commandes clôturées ({{commands_closed|length}})
		</div>
	</div>
	<div class="row all-commandes">
		<div class="text-vos-commandes">
			Vos {{commands_inprogress|length}} commandes en cours
		</div>

		<div class="row">
			<div class="span9 offset6" style="margin-bottom:20px;">
				<p class="description-disponibilites">
					Pour chaque commande, cliquez sur "Prise en compte" pour annoncer au client que celle ci a été acceptée. <br>
					<span class="offset1">Puis cliquez sur "Valider" pour lui annoncer que sa commande est prête</span>
				</p>
			</div>
		</div>

		{% for flashMessage in app.session.flashbag.get('error') %}
		    <div class="alert alert-error">{{ flashMessage }}</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('info') %}
			    <div class="alert alert-info">{{ flashMessage }}</div>
			{% endfor %}

		{% for command in commands_inprogress %}
			<div class="row">
				<div class="span10 offset5 commande-producteur">
					<div class="row details-commande">
						<div class="span2 date-livraison">
							Pour le 12/03
						</div>
						<div class="span1 numero-commande">
							# {{command.id}}
						</div>
						<div class="span3 nom-client">
							{{command.cart.user.username}} ({{command.farmerProductClones|length}} produits)
						</div>
						<div class="offset2 span2 valider-commande">
							<i class="icon-ok"></i> Prise en compte
						</div>
						<div class="span1 cloturer-commande">
							<i class="icon-remove"></i> Valider
						</div>
					</div>
					<div class="row produits-commande">
						{% set total = 0 %}
						{% for farmerProductClone in command.farmerProductClones %}
							{% set total = total + (farmerProductClone.quantity*farmerProductClone.unitPrice) %}
							<div class="span2 name-product">
									{{farmerProductClone.product.name|capitalize}}<br><span class="bold">{{farmerProductClone.quantity}}({{farmerProductClone.product.unitType.name}})</span>
							</div>
						{% endfor %}
					</div>
					<div class="row prix-commande">
						<div class="span1 offset8 prix-total" style="color:#a3d634">
							Total : <span class="bold">{{total|number_format(2, '.', ',')}}€</span>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}