{% extends 'OuiEatFrenchFarmerBundle::layout.html.twig' %}
{% block content %}
<div class="container">
{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="flash-warning">
        {{ flashMessage }}
    </div>
{% endfor %}
<div class="row" style="margin-bottom: 50px;margin-top: 75px;">
    <div class="text-catalogue offset2" style="margin-left: 330px;">
        L'ensemble de vos produits et de leurs stocks
    </div>
</div>
{% if farmerproducts|length == 0 %}
    Vous n'avez aucun produit dans votre stand
{% else %}
<div id="farmerproducts">
{% for farmerproduct in farmerproducts %}
    <div class="farmerproduct product-{{farmerproduct.id}}" style="float:left;">
        <div class="product_description">
            {% if farmerproduct.product is not null %}
                <img src="{{ asset('OEF/img_admin_product/' ~ farmerproduct.product.imageName) }}" height="185" width="250" alt="image de {{ farmerproduct.product.name }}" class="product_img">
            {% endif %}
            <div class="product_description_left" id="{{farmerproduct.id}}">
                <div class="name_product">{% if farmerproduct.product is not null %}{{ farmerproduct.product.name|capitalize }}{% endif %}</div>
                <!-- <div>-</div> -->
                <div class="type_agriculture">Stock({{ farmerproduct.product.unitType }}) : <span class="green" id="stock_{{farmerproduct.id}}">{{ farmerproduct.unitQuantity }}</span></div>
                <hr class="hr-produits"></hr>
                <div class="stocks_product">
                    <div style="text-align: center; margin-left: -15px">Modifier le stock</div>
                	<div class="button_stock">
            			<div class="moins_stock" id="product_moins_{{farmerproduct.id}}" data-id="{{farmerproduct.id }}">
            				<i class="icon-minus" id="icon_minus_{{farmerproduct.id}}"></i>
            			</div>
            			<div class="quantity_product_stock" id="product_quantity_{{farmerproduct.id}}">
                            <input type="text" value="{{ farmerproduct.unitQuantity }}" ><br>
                            <span style="color:red;" id="message_{{farmerproduct.id}}"></span>
                            <button class="valider-value-stock" id="stock_valid_{{farmerproduct.id}}" data-id="{{farmerproduct.id }}">Valider</button>
            			</div>
            			<div class="plus_stock" id="product_plus_{{farmerproduct.product.id}}" data-id="{{farmerproduct.id }}">
            				<i class="icon-plus" id="icon_plus_{{farmerproduct.id}}"></i>
            			</div>
                	</div>
                </div>
                <hr class="hr-produits-stock"></hr>
                <div class="link_update_product">
                    <a href="#modal-delete"  role="button" data-id="{{farmerproduct.id }}" data-toggle="modal"><i class="icon-trash"></i>Supprimer ce produit</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<!-- Modal -->
<div id="modal-delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Supprimer un produit</h3>
  </div>
  <div class="modal-body">
    <p>Voulez-vous vraiment supprimer ce produit ?</p>
    <input type="hidden" class="data-modal">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
    <button class="btn btn-danger modal-delete-button" data-dismiss="modal">Supprimer</button>
  </div>
</div>
{% endif %}
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(function () {
    jQuery(document).ready(function() {
    	$('.link_update_product a').on('click', function(){
    		$('.data-modal').val($(this).data('id'));
    	});

    	$('.modal-delete-button').on('click', function(){
    		var id = $('.data-modal').val();
    		deleteProductStock(id);
    	});

        $('.plus_stock').on('click', function(){
            var id = $(this).data('id');
            addStock(id);
            var stock = $('#product_quantity_'+id+ ' input').text();
            if (parseInt(stock) > 0 && $('#icon_minus_'+id).is(':hidden')) {
                $('#icon_minus_'+id).show();
            }
        });

        $('.moins_stock').on('click', function(){
            var id = $(this).data('id');
            var stock = $('#product_quantity_'+id+ ' input').val();
            if (parseInt(stock) > 0) {
                removeStock(id);
            } else {
                $('#icon_minus_'+id).hide();
            }
        });

        $('.valider-value-stock').on('click', function(){
            var id = $(this).data('id');
            var stock = $('#product_quantity_'+id+ ' input').val();
            if (parseInt(stock) >= 0) {
                adjustStock(id, stock);
            } else {
                $('#message_'+id).text('Quantité invalide.');
            }
        });

        function addStock(product_id) {
            $.ajax({
                url: '{{ path('oui_eat_french_farmer_stock_add_ajax') }}',
                type: 'POST',
                data:
                {
                    'id' : product_id
                },
                dataType: 'json',
                success: function(response)
                {
                    if (response !== 'null') {
                        $('#stock_'+product_id).text(response);
                        $('#product_quantity_'+product_id+ ' input').val(response);
                        if (parseInt(response) > 0 && $('#icon_minus_'+product_id).is(':hidden')) {
                            $('#icon_minus_'+product_id).show();
                        }
                    }
                }
            });

            return false;
        };

        function removeStock(product_id) {
            $.ajax({
                url: '{{ path('oui_eat_french_farmer_stock_remove_ajax') }}',
                type: 'POST',
                data:
                {
                    'id' : product_id
                },
                dataType: 'json',
                success: function(response)
                {
                    if (response !== 'null') {
                        $('#stock_'+product_id).text(response);
                        $('#product_quantity_'+product_id+ ' input').val(response);
                        if (parseInt(response) === 0) {
                            $('#icon_minus_'+product_id).hide();
                        }
                    }
                }
            });

            return false;
        };

        function adjustStock(product_id, stock) {
            $.ajax({
                url: '{{ path('oui_eat_french_farmer_stock_adjust_ajax') }}',
                type: 'POST',
                data:
                {
                    'id' : product_id,
                    'stock' : stock
                },
                dataType: 'json',
                success: function(response)
                {
                    if (response !== 'null') {
                        $('#stock_'+product_id).text(response);
                        $('#product_quantity_'+product_id+ ' input').val(response);
                        if (parseInt(response) > 0 && $('#icon_minus_'+product_id).is(':hidden')) {
                            $('#icon_minus_'+product_id).show();
                        } else if (parseInt(response) == 0) {
                            $('#icon_minus_'+product_id).hide();
                        }
                    }
                }
            });

            return false;
        };
        
        function deleteProductStock(product_id){
            $.ajax({
                url: '{{ path('oui_eat_french_farmer_stock_delete_ajax') }}',
                type: 'POST',
                data:
                {
                    'id' : product_id
                },
                dataType: 'json',
                success: function(response)
                {
                    $(".product-"+response).fadeOut(300, function() { 
                    	$(this).remove(); 
                    });
                }
            });

            return false;
        };
    });
});
</script>
{% endblock %}