<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="Defoulny Dylan" content="">
    <link rel="shortcut icon" href="{{ asset("ouieatfrench/theme/assets2/img/favicon.ico") }}">

    <title>Rejoignez-nous !</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset("ouieatfrench/theme/assets2/css/bootstrap.css") }}" rel="stylesheet">

    <!-- Custom styles for OEF -->
    <link href="{{ asset("ouieatfrench/theme/assets2/css/main.css") }}" rel="stylesheet">
    <link href="{{ asset("ouieatfrench/theme/assets2/css/formulaires.css") }}" rel="stylesheet">

    <!-- Override styles for OEF -->
    <link href="{{ asset("ouieatfrench/theme/assets2/css/landing.css") }}" rel="stylesheet">

    <!-- Fonts from Google Fonts -> Open Sans -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Fixed navbar -->
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('oui_eat_french_mailing_landing_next') }}"><img src="{{ asset("ouieatfrench/theme/assets2/img/logo.png") }}" id="oef_logo"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('oui_eat_french_mailing_landing_next') }}">Accueil</a></li>
                <li><a href="#howit2" id="howitworks2" class="link-home">Comment ça marche ?</a></li>
                <li><a href="#forms" id="join-us">Rejoignez-nous</a></li>
                <li><a data-toggle="modal" data-target="#myModal">Qui sommes-nous ?</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:#A4D335;">OOlala les curieux ! </h4>
            </div>
            <div class="modal-body">
                <p>Et vous avez bien raison ! Chez OuiEatFrench, la transparence est un mot d'ordre que ce soit sur les produits de nos agriculteurs que sur notre équipe. Cette rubrique est donc en cours de construction mais promis, vous ne serez pas déçus.. À bientôt !</p>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="howit2">
    <div class="container">
        <div class="row mt title_section">
            <div>
                <h1>Un fonctionnement simple en 4 points clés</h1>
            </div>
        </div><!-- /row -->

        <div class="row mt centered">
            <div class="col-lg-3">
                <img src="{{ asset("ouieatfrench/theme/assets2/img/icone1.png") }}" width="200" alt="">
            </div><!--/col-lg-3 -->
            <div class="col-lg-9">
                <p>ouieatfrench est une place de marché qui vous permet d’accéder sans intermédiaire aux meilleurs produits de l’agriculture française. Grâce à notre réseau d’agriculteurs en région Île-de-France, nous pouvons vous indiquer les producteurs les plus proches de chez vous, et ce qu’ils cultivent. Vous pouvez donc acheter vos fruits et légumes fraîchement récoltés à deux pas de chez vous ! En bonus, ils proposeront également leurs recettes et d'autres produits de leur confection.</p>
            </div><!--/col-lg-9 -->
        </div>

        <div class="row mt centered">
            <div class="col-lg-3">
                <img src="{{ asset("ouieatfrench/theme/assets2/img/icone2.png") }}" width="200" alt="">
            </div><!--/col-lg-3 -->
            <div class="col-lg-9">
                <p>Avec ouieatfrench, vous avez le choix : vous pouvez aller chercher vos fruits et légumes directement chez le producteur, au cœur de son activité, ou choisir de vous faire livrer à domicile. Les différentes modalités de livraison seront disponibles directement sur notre place de marché. Sa </p>
            </div><!--/col-lg-9 -->
        </div>

        <div class="row mt centered">
            <div class="col-lg-3">
                <img src="{{ asset("ouieatfrench/theme/assets2/img/icone3.png") }}" width="200" alt="">
            </div><!--/col-lg-3 -->
            <div class="col-lg-9">
                <p>Pour nous, la traçabilité et la fraîcheur des aliments sont essentielles, c’est pourquoi, pour chaque produit, vous pourrez connaître la date de récolte, et toutes les informations le concernant. Nous favorisons bien entendu les fruits et légumes de saison, ainsi que les agriculteurs soucieux de l’environnement.<br>
                    Chacun de nos livreurs aura en sa possession une application de géocalisation qui vous permettra de suivre, en temps réel, ses déplacements et d'anticiper votre livraison. Ces fonctionnalités seront accessibles depuis votre compte utilisateur.</p>
            </div><!--/col-lg-9 -->
        </div>

        <div class="row mt centered">
            <div class="col-lg-3">
                <img src="{{ asset("ouieatfrench/theme/assets2/img/icone4.png") }}" width="200" alt="">
            </div><!--/col-lg-3 -->
            <div class="col-lg-9">
                <p>ouieatfrench est une place de marché pensée à la fois pour les consommateurs et les producteurs.<br>
                    Les consommateurs auront accès à un espace d'achat totalement orienté en fonction de leur localisation. Cette fonctionnalité leur permettra d'avoir des produits frais et sains à proximité.<br>
                    Les producteurs pourront gérer personnellement leur catalogue de produits, ainsi que leurs stocks et leurs commandes. Ils auront donc une interface dédiée à leur disposition dès leur inscription à ouieatfrench.</p>
            </div><!--/col-lg-9 -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /howit -->

<div id="forms">
    <div class="container">
        <div class="row">
            <h1>Rejoignez-nous !</h1>
            <div class="col-lg-6">
                <form class="form-inline" role="form" action="{{ path(route) }}#forms" method="post" {{ form_enctype(formSeller) }} novalidate="novalidate">
                    {{ form_start(formSeller) }}
                    <h2 id="form-title">Producteurs</h2>
                    <p>Avec ouieatfrench, gérez vous-même votre catalogue, vos stocks et vos commandes. Elargissez votre clientèle et découvrez une nouvelle façon d'augmenter votre activité.<br>Pour nous rejoindre en avant-première et être les premiers en ligne, inscrivez-vous ici ! </p>
                    <div class="form-group">
                        <input type="hidden" name="seller" value="seller">
                        {% if form_errors(formSeller.lastname) != "" and formSellerValid != 2 %}
                            {{ form_widget(formSeller.lastname, {'attr': {'placeholder': 'Votre prénom', 'class' : 'form-control form-color-failed', 'id' : 'exampleInputFirstname'} }) }}
                        {% else %}
                            {{ form_widget(formSeller.lastname, {'attr': {'placeholder': 'Votre prénom', 'class' : 'form-control', 'id' : 'exampleInputFirstname'} }) }}
                        {% endif %}
                        {% if form_errors(formSeller.firstname) != "" and formSellerValid != 2 %}
                            {{ form_widget(formSeller.firstname, {'attr': {'placeholder': 'Votre nom', 'class' : 'form-control form-color-failed', 'id' : 'exampleInputLastname'} }) }}
                        {% else %}
                            {{ form_widget(formSeller.firstname, {'attr': {'placeholder': 'Votre nom', 'class' : 'form-control', 'id' : 'exampleInputLastname'} }) }}
                        {% endif %}
                        {% if form_errors(formSeller.email) != "" and formSellerValid != 2 %}
                            {{ form_widget(formSeller.email, {'attr': {'placeholder': 'Votre email', 'class' : 'form-control form-color-failed', 'id' : 'exampleInputEmail'} }) }}
                        {% else %}
                            {{ form_widget(formSeller.email, {'attr': {'placeholder': 'Votre email', 'class' : 'form-control', 'id' : 'exampleInputEmail'} }) }}
                        {% endif %}
                        {% if form_errors(formSeller.postcode) != "" and formSellerValid != 2 %}
                            {{ form_widget(formSeller.postcode, {'attr': {'placeholder': 'Code postal', 'class' : 'form-control form-color-failed', 'id' : 'exampleInputPostcode', 'style' : 'width:45%'} }) }}
                        {% else %}
                            {{ form_widget(formSeller.postcode, {'attr': {'placeholder': 'Code postal', 'class' : 'form-control', 'id' : 'exampleInputPostcode', 'style' : 'width:45%'} }) }}
                        {% endif %}<br>
                        {% if not formSeller.vars.valid and formSellerValid != 2 %}
                            <span style="color:red">Les données que vous avez saisies ne sont pas valides.</span>
                        {% endif %}
                        {% for flashMessage in app.session.flashbag.get('seller_success') %}
                            <span style="color:green">{{ flashMessage }}</span>
                        {% endfor %}
                    </div>
                    <button class="btn btn-warning btn-lg" type="submit">Je valide</button>
                    {{ form_end(formSeller) }}
                </form>
                <!-- anchor --><span id="howitworks"></span>
            </div><!-- /col-lg-6 -->
            <div class="col-lg-6">
                <form class="form-inline" role="form" action="{{ path(route) }}#forms" method="post" {{ form_enctype(formCustomer) }} novalidate="novalidate">
                    {{ form_start(formCustomer) }}
                    <h2 id="form-title">Consommateurs</h2>
                    <p>Reprenez le pouvoir sur la chaîne alimentaire. Découvrez les producteurs de votre région et leurs produits sans intérmediaires et commandez sur ouieatfrench. <br>Pour recevoir un mail dès la sortie de notre place de marché en ligne, inscrivez-vous ici ! </p>
                    <div class="form-group">
                        <input type="hidden" name="customer" value="customer">
                        {% if form_errors(formCustomer.lastname) != "" and formCustomerValid != 2  %}
                            {{ form_widget(formCustomer.lastname, {'attr': {'placeholder': 'Votre prénom', 'class' : 'form-control form-color-failed', 'id' : 'exampleInputFirstname'} }) }}
                        {% else %}
                            {{ form_widget(formCustomer.lastname, {'attr': {'placeholder': 'Votre prénom', 'class' : 'form-control', 'id' : 'exampleInputFirstname'} }) }}
                        {% endif %}
                        {% if form_errors(formCustomer.firstname) != "" and formCustomerValid != 2  %}
                            {{ form_widget(formCustomer.firstname, {'attr': {'placeholder': 'Votre nom', 'class' : 'form-control form-color-failed', 'id' : 'exampleInputLastname'} }) }}
                        {% else %}
                            {{ form_widget(formCustomer.firstname, {'attr': {'placeholder': 'Votre nom', 'class' : 'form-control', 'id' : 'exampleInputLastname'} }) }}
                        {% endif %}
                        {% if form_errors(formCustomer.email) != "" and formCustomerValid != 2  %}
                            {{ form_widget(formCustomer.email, {'attr': {'placeholder': 'Votre email', 'class' : 'form-control form-color-failed', 'id' : 'exampleInputEmail'} }) }}
                        {% else %}
                            {{ form_widget(formCustomer.email, {'attr': {'placeholder': 'Votre email', 'class' : 'form-control', 'id' : 'exampleInputEmail'} }) }}
                        {% endif %}
                        {% if form_errors(formCustomer.postcode) != "" and formCustomerValid != 2  %}
                            {{ form_widget(formCustomer.postcode, {'attr': {'placeholder': 'Code postal', 'class' : 'form-control form-color-failed', 'id' : 'exampleInputPostcode', 'style' : 'width:45%'} }) }}
                        {% else %}
                            {{ form_widget(formCustomer.postcode, {'attr': {'placeholder': 'Code postal', 'class' : 'form-control', 'id' : 'exampleInputPostcode', 'style' : 'width:45%'} }) }}
                        {% endif %}<br>
                        {% if not formCustomer.vars.valid and formCustomerValid != 2 %}
                            <span style="color:red">Les données que vous avez saisies ne sont pas valides.</span>
                        {% endif %}
                        {% for flashMessage in app.session.flashbag.get('customer_success') %}
                            <span style="color:green">{{ flashMessage }}</span>
                        {% endfor %}
                        {% if customer_success is defined %}

                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Je valide</button>
                    {{ form_end(formCustomer) }}
                </form>
                <!-- anchor --><span id="howitworks"></span>
            </div><!-- /col-lg-6 -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /forms -->
<!--
<div id="team">
    <div class="container">
        <div class="row mt title_section">
            <div>
                <h1 class="white-title">Qui sommes-nous ?</h1>
            </div>
        </div>

        <div class="row mt centered">
            <p>ouieatfrench c’est une équipe de trois fondateurs : Wendy Jarry, Judith Courcoux, Guillaume Flambard, chacun responsable d’un pôle de l’entreprise. Ainsi que 5 freelances chacun spécialisé et impliqué dans ce projet. Nous avons mis tous nos efforts dans cette plateforme pour répondre à un besoin que nous avions : trouver une alternative au manque de transparence de la chaîne alimentaire aujourd'hui</p>
        </div>
    </div>
</div>
-->
<div id="footer">
    <div class="container">
        <p class="centered">2014 © ouieatfrench - Tous droits réservés</p>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ asset("ouieatfrench/theme/assets2/js/bootstrap.min.js") }}"></script>
<!--<script src="{{ asset("ouieatfrench/bootstrap-3.1.1-dist/css/bootstrap.min.css") }}"></script>-->
<script src="{{ asset("ouieatfrench/theme/assets2/js/script.js") }}"></script>
</body>
</html>
