<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="Defoulny Dylan" content="">
    <link rel="shortcut icon" href="{{ asset("ouieatfrench/theme/assets2/img/favicon.ico") }}">

    <title>OuiEatFrench</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset("ouieatfrench/theme/assets2/css/bootstrap.css") }}" rel="stylesheet">

    <!-- Custom styles for OEF -->
    <link href="{{ asset("ouieatfrench/theme/assets2/css/main.css") }}" rel="stylesheet">

    <!-- Override styles for OEF -->
    <link href="{{ asset("ouieatfrench/theme/assets2/css/landing.css") }}" rel="stylesheet">

    <link href="{{ asset("ouieatfrench/theme/assets2/css/jquery-ui.css") }}" rel="stylesheet">

    <!-- Fonts from Google Fonts -> Open Sans -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ asset("ouieatfrench/theme/assets2/css/jquery.fancybox.css") }}" type="text/css" media="screen" />



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="row navbar-oef">
    <div class="col-md-offset-3 col-md-2">
        <img src="{{ asset("ouieatfrench/theme/assets2/img/logo.png") }}" alt="logo">
    </div>
    <div class="col-md-offset-1  col-md-1 navbar-margin">
        <a href="#">Le concept</a>
    </div>
    <div class=" col-md-2 navbar-margin" style="width:11%">
        <a href="#">Restez informés</a>
    </div>
    <div class=" col-md-1 navbar-margin">
        <a href="#">L'équipe</a>
    </div>
    <div class=" col-md-1 navbar-margin navbar-abonne">
        <a href="#">M'abonner</a>
    </div>
</div>

<div class="row">
    <div class="col-md-6 slogan">
        La solution <br>
        pour manger <span class="slogan-word">sain</span> et <span class="slogan-word">français</span>
    </div>
</div>

<div class="row">
    <div class="col-md-7 col-md-offset-3 presentation">
        <img src="{{ asset("ouieatfrench/theme/assets2/img/pointun_concept.png") }}" alt="img-pc" class="img-pc col-md-offset-1">
        <img src="{{ asset("ouieatfrench/theme/assets2/img/pointdeux_concept.png") }}" alt="img-pc" class="img-pc" style="margin-left:13%">
        <img src="{{ asset("ouieatfrench/theme/assets2/img/pointtrois_concept.png") }}" alt="img-pc" class="img-pc" style="margin-left:14%">
        <div class="col-md-3 text-presentation">
            <div class="title-text">
                Une place de marché pensée pour les consommateurs et les producteurs :
            </div>
            <div class="text-oef">
                Vous voulez acheter sur Ouieatfrench ? Nous vous indiquons les producteurs les plus proches de chez vous, et vous êtes libres de choisir vos fruits et légumes sur le « stand » de l’agriculteur de votre choix !  La plateforme Ouieatfrench permet d'allier bien manger et proximité.
Les producteurs pourront gérer personnellement leur catalogue de produits, ainsi que leurs stocks et leurs commandes. Ils auront donc une interface dédiée dès leur inscription sur Ouieatfrench.

            </div>
        </div>
        <div class="col-md-3 text-presentation">
            <div class="title-text">
                Faire des économies tout en mangeant sainement, c’est possible !
            </div>
            <div class="text-oef">
                Le circuit court a fait ses preuves, et c’est dans cette optique de réduction des intermédiaires que OEF souhaite se développer. Notre leitmotiv : mettre à disposition des produits français, de haute qualité à des prix abordables. C’est dans une optique gagnant-gagnant que OEF veut évoluer : les producteurs élargissent leur clientèle, et l’acheteur débourse moins pour une qualité supérieure à la grande distribution.
            </div>
        </div>
        <div class="col-md-3 text-presentation">
            <div class="title-text" style="margin-bottom:50px;">
                Des produits sains et français à portée de clic !
            </div>
            <div class="text-oef">
                 OEF vous laisse le choix : récupérer en main propre vos produits fraîchement commandés sur notre place de marché, ou vous faire livrer en point relai. Nous nous engageons à livrer vos produits en moins de 12h, afin de conserver leur fraîcheur. Vous aurez accès à un suivi de commande via l’interface de votre compte.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-5 presentation-oef">
        OuiEatFrench, en 2min et en vidéo
    </div>
</div>

<div class="row">
    <div class="col-md-6 video-oef">
        <div style="background-color:#d2d2d2;height:150px;">
        </div>
    </div>
</div>

<div class="row">
    <div class="bandeau-img">
        <div class="col-md-4 col-md-offset-6 black_opacity">
            <div class="col-md-10 col-md-offset-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis mollis ex. Vivamus ut consequat orci, quis malesuada felis. Donec ullamcorper efficitur ipsum, sit amet bibendum enim cursus quis. Nunc consequat, dui vel placerat ullamcorper, purus est eleifend mauris, at egestas dui urna quis turpis. Curabitur in sem a tellus rutrum accumsan. Mauris sed massa at justo vulputate gravida. Morbi sit amet condimentum nibh. Nunc venenatis tempus tempor. In consectetur lacinia diam.
            </div>
            <div class="col-md-offset-9">
                Alban P.
            </div>
            <div class="col-md-offset-8">
                <img src="{{ asset("ouieatfrench/theme/assets2/img/signature_testimony.png") }}">
            </div>
        </div>
        <div class="guillemets">
            <img src="{{ asset("ouieatfrench/theme/assets2/img/guillemets_testimony.png") }}" alt="guillemets">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 pattern">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 producteurs">
                Producteurs, restez informés !
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3 producteurs-text">
                Pellentesque eget voluptat quam. Morbi 
                semper mattis arcu a dapibus. <br>
                Eret eto tenata.
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3 producteurs-form">
                <form action="#" method="post">
                    <input type="text" name="prenom" placeholder="Prénom">
                    <input type="text" name="nom" placeholder="Nom">
                    <input type="text" name="email" placeholder="Email">
                    <input type="text" name="cp" placeholder="Code Postal">
                </form>
            </div>
            <div class="col-md-5 img-plateforme">
                <img src="{{ asset("ouieatfrench/theme/assets2/img/vue_plateforme.png") }}">
            </div>
            <div class="col-md-2 col-md-offset-3 btn-inscription">
                <a href="#">INSCRIVEZ-VOUS</a>
            </div>
        </div>
    </div>
</div>


<div class="row footer">
    <div class="col-md-3 col-md-offset-5 text-footer">
        2015 &copy; OuiEatFrench
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{ asset("ouieatfrench/theme/assets2/js/jquery-ui.js") }}"></script>
<script src="{{ asset("ouieatfrench/theme/assets2/js/bootstrap.min.js") }}"></script>
<script src="{{ asset("ouieatfrench/theme/assets2/js/script.js") }}"></script>


<script type="text/javascript" src="{{ asset("ouieatfrench/theme/assets2/js/jquery.fancybox.pack.js") }}"></script>
<script type="text/javascript" src="{{ asset("ouieatfrench/theme/assets2/js/jquery.fancybox.js") }}"></script>
<script type="text/javascript" src="{{ asset("ouieatfrench/theme/assets2/js/helpers/jquery.fancybox-media.js") }}"></script>

<script type="text/javascript">
    $(function ()
    {
        var div = $('#headerwrap #slider');
        var backgrounds = [
            "url({{ asset('ouieatfrench/theme/assets2/img/murephoto2.jpg') }})",
            "url({{ asset('ouieatfrench/theme/assets2/img/coccinelle.jpg') }})",
            "url({{ asset('ouieatfrench/theme/assets2/img/abricot.jpg') }})",
            "url({{ asset('ouieatfrench/theme/assets2/img/fleur.jpg') }})"];
        var current = 0;

        function nextBackground() {
            div.fadeOut(100, function(){
                div.css(
                        'background-image',
                        backgrounds[current = ++current % backgrounds.length]);
                div.css('background-size','cover');
                div.css('background-position', 'center center');
                div.fadeIn(1000);
            });


            setTimeout(nextBackground, 7000);
        }
        setTimeout(nextBackground, 7000);
        div.css('background-image', backgrounds[0]);
        div.css('background-size','cover');
        div.css('background-position', 'center center');
    });

    $(document).ready(function() {
        $('.fancybox-media')
                .attr('rel', 'media-gallery')
                .fancybox({
                    openEffect : 'none',
                    closeEffect : 'none',
                    prevEffect : 'none',
                    nextEffect : 'none',

                    arrows : false,
                    helpers : {
                        media : {},
                        buttons : {}
                    }
                });
    });
</script>
</body>
</html>
